navbar{
background-color: transparent;
    color: transparent;
}

.nw-h1{
    text-align: left;
position: absolute;
    font-family: Helvetica,"Trebuchet MS", Arial, sans-serif;
    font-size: 50px;
}

.nw-eyelid{
    position: absolute;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 3;
}

li{
    color: black;
    font-size:25px;
}

.nw-pupil{
    position: absolute;
    top: 100px;


}